@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  color: #1D1F22;
  background-color: #FFFFFF;
}


/*responsive css*/
@media (max-width: 768px) {
  .navbar {
    padding: 16px;
  }

  .product-listing-title {
    font-size: 32px;
    margin: 40px 0;
  }

  .cart-page {
    padding: 40px 16px;
  }

  .shipping-info {
    padding: 40px 16px;
  }
}

.size-option{
  border: 1px solid black;
  border-radius: 0;
}