.product-detail {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.product-detail-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}

@media (max-width: 768px) {
  .product-detail-grid {
    grid-template-columns: 1fr;
  }
}

.product-detail-image {
  width: 100%;
  height: 24rem;
  object-fit: cover;
  border-radius: 0.25rem;
}

.thumbnails {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.thumbnail {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 0.25rem;
}

.thumbnail-column {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-right: 10px;
}

.product-images {
  display: flex;
}

.product-detail-info {
  padding: 1rem;
}

.product-detail-title {
  font-size: 30px;
  font-weight: 400;
}

.product-detail-price {
  font-size: 24px;
  font-weight: 700;
  margin-top: 0.5rem;
}

.size-options {
  display: flex;
  gap: 22px;
  margin-top: 10px;
}

button.size-option {
  background: none;
  width: 65px;
  height: 45px;
}

.size-option.selected {
  background: black;
  color: white;
}

.size-selector {
  margin-top: 1rem;
}

.size-label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
}

.product-price-label {
  font-weight: bold;
  margin-top: 122px;
}

.add-to-cart-button {
  margin-top: 20px;
  background-color: #5ECE7B;
  color: #ffffff;
  border: none;
  border-radius: 0;
  width: 292px;
  height: 52px;
  font-size: 16px;
  padding: 16px 32px;
  cursor: pointer;
}

.add-to-cart-button.disabled {
  background-color: #d1d5db;
  color: #6b7280;
  cursor: not-allowed;
}